<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://www.nuget.org/api/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/wouterfennis/index.json" />
	</packageSources>
	<!-- To make this solution restore on your local machine, make sure you have a Github token to download NuGet packages. --> 
	<!--
	<packageSourceCredentials>
		<github>
			<add key="Username" value="token" />
			<add key="ClearTextPassword" value="%PersonalGithubToken%" />
		</github>
	</packageSourceCredentials>
	-->
</configuration>