@page "/class/{classId:int}"
@using Cifra.Api.Client
@inject ICifraApiClient Client

<PageTitle>Class</PageTitle>

@if(RetrievedClass != null){
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td>@RetrievedClass.Name</td>
                    <td><a href="class/@RetrievedClass.Id">Edit</a></td>
                </tr>
        </tbody>
    </table>
}

@code{
    [Parameter]
    public int ClassId { get; set; }

    private Api.Client.Class RetrievedClass;

    protected override async Task OnInitializedAsync()
    {
        var response = await Client.ClassGET2Async(ClassId, "1");
        RetrievedClass = response.Class;
        await base.OnInitializedAsync();
    }
}