<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/wouterfennis/index.json" />
  </packageSources>
<packageSourceCredentials>
        <github>
            <add key="Username" value="wouterfennis" />
            <add key="ClearTextPassword" value="1b71111cb35cd8204afd102d808cf6922d7c33a5" />
        </github>
    </packageSourceCredentials>
</configuration>